+:h:1:RAINNC,SNOWNC
-:h:1:T2,Q2,PSFC,V10,U10,LU_INDEX,LU_MASK,XLAT,XLONG,XLAT_U,XLAT_V,XLONG_U,XLONG_V,MU,QVAPOR,RAINSH,RAINC
+:h:2:T2,Q2,PSFC,V10,U10
+:h:2:SMOIS,SMCREL,SFROFF
+:h:2:CLDFRA
-:h:2:WSPD10MAX,W_UP_MAX,W_DN_MAX,REFD_MAX,UP_HELI_MAX,UP_HELI_MIN,HAIL_MAXK1,HAIL_MAX2D
+:h:3:WSPD10MAX,W_UP_MAX,W_DN_MAX,REFD_MAX,UP_HELI_MAX,UP_HELI_MIN,HAIL_MAXK1,HAIL_MAX2D
